.subtitle {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  text-align: justify;
}

.creators {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.creator-name {
  font-family: Montserrat;
  font-size: 1.5em;
  padding: 10px;
  font-weight: bold;
  color: #0367a6;
  text-align: center;
}

.creator-img {
  padding-top: 10px;
  height: 150px;
  width: auto;
  border-radius: 50%;
}

.creator-description {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.creator {
  flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
     The percent can be px. It just represents your minimum starting width.
      */
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  padding: 8px;
  background: #eff0f3;
  color: #214049;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
}

#main {
  margin-left: 5rem;
}

.heading1 {
  padding-top: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 550px) {
  .subtitle {
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
  }

  #main {
    margin-left: 0px;
  }

  .creator {
    flex: 1 0 30%; /* The important bit. This percentage decides your columns. 
     The percent can be px. It just represents your minimum starting width.
      */
    margin: 10px;
    background: #eff0f3;
    color: #214049;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .creators {
    margin-bottom: 100px;
  }
}
