textarea {
    margin-left: 330px;
    width: 600px;
    height: 300px;
}
h3{
   
    margin-left: 330px;
}

#save {
    margin-left: 560px;
    width: 130px;
    height: 30px;
    background-color: #49A1B9;
    color: white;
    border-radius: 8px;
}