@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');



@media screen and (max-width: 550px) {
  body {
      margin: 0;
  } 



.heading-2 {
    text-align: center;
    margin-top: 150px;
    width: 139px;
    height: 29px;
    /* Heading 2 */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    
    color: #0367A6;
    
}

#first {
margin-top: 24px;
width: 414px;
height: 0px;
border: 1px solid #51B09F;
}

#second {
margin-top: 10px;
width: 414px;
height: 0px;
border: 1px solid #51B09F;

}

#profile {
margin-top: 5px;
width: 48px;
height: 48px; 
}

#profilename {
margin-top: -50px;
margin-left: 55px;
width: 72px;
height: 19px;

/* Body Title */

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #000000;
}

#postcaption {
margin-left: 55px;
width: 314px;
height: 31px;

/* Body text */

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;
}

#time {
    margin-left: 55px;
    width: 97px;
    height: 14px;
    
    /* Time Text on Comments */
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */
    
    
    color: #000000;
}

}