@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@media screen and (max-width: 550px) {
  body {
      margin: 0;
  } 

.create-post-container {
  display: flex;
}

.profilepicture > img {
  width: 70px !important;
  height: 70px !important;
}

.caption {
  width: 100%;
  background-color: #eff0f3;
  border-radius: 12px;
  margin-left: 20px;
  padding: 20px;
}

textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #51b09f;
  outline: none;
}

.icons {
  display: flex;
  justify-content: flex-end;
  color: #49a1b9;
}

.icons > i {
  margin: 10px;
}

.button > .secondarybutton {
  background-color: #49a1b9;
  width: 100px;
  border-radius: 10px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

}


.create-post-container {
  display: flex;
}

.profilepicture > img {
  width: 70px !important;
  height: 70px !important;
}

.caption {
  width: 100%;
  background-color: #eff0f3;
  border-radius: 12px;
  margin-left: 20px;
  padding: 20px;
}

textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #51b09f;
  outline: none;
}

.icons {
  display: flex;
  justify-content: flex-end;
  color: #49a1b9;
}

.icons > i {
  margin: 10px;
}

.button > .secondarybutton {
  background-color: #49a1b9;
  width: 100px;
  border-radius: 10px;
}

.button {
  display: flex;
  justify-content: flex-end;
}


