@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');



@media screen and (max-width: 550px) {
  body {
      margin: 0;
  } 


#window {
  width: 100%;
}

.center {
  margin-top: 16px;
}


#addpicture {
  width: 216px;
height: 118px;
background: #49A1B9;
border-radius: 12px;
}

#real-file {
  margin-top: 100px;
  margin-left: 100px;
}


#post {
  margin-top: 32px;
  width: 218px;
  height: 50px;
  background: #49A1B9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}

.heading-2 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* bold */
}

.heading-3 {
  margin-top: 10px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* semibold */
  
}

#textbox {
  margin-top: 24px;
  border: 2px solid #000000;
box-sizing: border-box;
border-radius: 10px;
width: 218px;
height: 116px;
}

div > * {
  margin: auto;
  text-align: center;
 }


}


.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

.sizing {
  margin-left: 245px;
  margin-top: -225px;
  width: 938px;
  height: 154px;
  background: #FFFFFF;
}


#rectangle { 
width: 978px;
height: 252px;
margin-left: 225px;
margin-top: 100px;

background: #EFF0F3;
border-radius: 10px;
}


#icon-1 {
margin-top: -10px;
margin-left: 1125px;
width: 48px;
height: 48px;

background: #0367A6;
}