#changeprofbtn{

    margin-top: -100px;
    margin-left: 500px;
    width: 250px;
    height: 50px;
    background-color: #49A1B9;
    color: white;
    border-radius: 8px;
    display: block;
    margin-top: 120px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    align-items: center;

    color: #EFF0F3;

}
#descbtn{
    margin-top: -100px;
    margin-left: 500px;
    width: 250px;
    height: 50px;
    background-color: #49A1B9;
    color: white;
    border-radius: 8px;
    display: block;
    margin-top: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    align-items: center;

    color: #EFF0F3;
}
#skillsbtn{
    margin-top: -100px;
    margin-left: 500px;
    width: 250px;
    height: 50px;
    background-color: #49A1B9;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    display: block;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    align-items: center;

    color: #EFF0F3;
}

#profile{
    margin-left: 520px;
}

h2 {
    margin-left: 555px;
}
#following{
    margin-left: 490px;
    margin-top: 50px;
    font-size: 14pt;
    display:flex;
    word-spacing: 20px;

}


#name {
    margin-top: 100px;
    margin-left: -45px;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* bold */
    width: 302px;
    color: #0367A6;
}


.heading-3 {
    margin-left: -5px;
    margin-top: -75px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* semibold */
}

@media screen and (max-width: 550px) {
    

    #changeprofbtn{

        margin-top: -100px;
        margin-left: 100px;
        width: 250px;
        height: 50px;
        background-color: #49A1B9;
        color: white;
        border-radius: 8px;
        display: block;
        margin-top: 120px;
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
    
        color: #EFF0F3;
    
    }
    #descbtn{
        margin-top: -100px;
        margin-left: 100px;
        width: 250px;
        height: 50px;
        background-color: #49A1B9;
        color: white;
        border-radius: 8px;
        display: block;
        margin-top: 10px;
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
    
        color: #EFF0F3;
    }
    #skillsbtn{
        margin-top: -100px;
        margin-left: 100px;
        width: 250px;
        height: 50px;
        background-color: #49A1B9;
        color: white;
        border-radius: 8px;
        margin-top: 10px;
        display: block;
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
    
        color: #EFF0F3;
    }
    
    #profile{
        margin-left: 120px;
    }
    
    h2 {
        margin-left: 155px;
    }
    #following{
        margin-left: 80px;
        margin-top: 100px;
        font-size: 14pt;
        display:flex;
        word-spacing: 20px;
    
    }
    
    
    #name {
        margin-top: 100px;
        margin-left: -45px;
        font-size: 36px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700; /* bold */
        width: 302px;
        color: #0367A6;
    }
    
    
    .heading-3 {
        margin-left: -5px;
        margin-top: -75px;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600; /* semibold */
    }













}









