@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#above-search {
  display: none;
}

.above {
  margin-left: 5rem;
}

.flex-main {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.topPartDiv {
  display: flex;
  flex-direction: row;
}

.name-and-time {
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: left;
}

.topPartDiv > .name-and-time {
  width: 50%;
  justify-content: center;
  align-items: left;
}

.flex-main > .column {
  width: 50%;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}

#mainmain > #stories {
  background-color: #eff0f3; /* temp */
  margin-top: 24px;
  width: 100%;
  border-radius: 12px;
}

#mainmain > #posts {
  background-color: #eff0f3; /* temp */
  margin-top: 24px;
  height: 510x; /* temp */
  width: 100%;
  margin-bottom: 24px;
  border-radius: 12px;
}

#sidemain > #whats-new {
  background-color: #eff0f3;
  margin-top: 24px;
  padding-left: 24px;
  height: 400px; /* temp */
  padding: 24px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
}

#sidemain > #recommended-connections {
  background-color: #eff0f3;
  margin-top: 24px;
  padding: 24px;
  width: 100%;
  height: 400px; /* temp */
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
  margin-bottom: 24px;
}

.heading-title {
  padding-top: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 550px) {
  .above {
    margin-left: 0;
  }

  #above-search {
    display: unset;
  }

  #sidemain {
    display: none;
  }

  .flex-main > .column {
    width: 100%;
  }

  .flex-main {
    margin-left: 0;
  }

  #mainmain > #posts {
    margin-bottom: 96px;
  }

  .heading-title {
    padding-top: 12px;
    padding-left: 0px;
  }

  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .menu-and-search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .menu-and-search > .mobile-menu > a {
    width: 20%;
    height: auto;
    margin-right: 24px;
  }

  .menu-and-search > #above-search {
    width: 80%;
    margin-right: 24px;
  }

  .search input[type="text"] {
    font-family: "Montserrat";
    border: 0px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80%;
    height: 100%;
  }

  .search {
    background-color: white;
  }

  .search button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    height: 100%;
  }
}

.profilepic {
  height: 60px;
  width: 60px;
  background-color: #bbb;
  border-radius: 50%;
  background-size: 60px;
}

.userName {
  /* Body text */
  /* width: 59px;
height: 19px; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* identical to box height */

  color: #000000;
}

.stories {
  display: flex;
  overflow: auto;
  height: 130px;
}

.story {
  margin-right: 20px;
  text-align: center;
  width: 81px;
}

#stories::-webkit-scrollbar {
  display: none;
}

.postpicture {
  width: 100%;
  height: 160%;
  border-radius: 10px;
  background-position: center;
  display: flex;
  flex-direction: row;
}
