@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#above-search {
  display: none;
}

.above {
  margin-left: 5rem;
}

.flex-main {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.topPartDiv {
  display: flex;
  flex-direction: row;
}

.name-and-time {
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: left;
}

.topPartDiv > .name-and-time {
  width: 50%;
  justify-content: center;
  align-items: left;
}

.flex-main > .column {
  width: 50%;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}

#mainmain > #stories {
  background-color: #eff0f3; /* temp */
  margin-top: 24px;
  width: 100%;
  border-radius: 12px;
}

#mainmain > #posts {
  background-color: #eff0f3; /* temp */
  margin-top: 24px;
  height: 510x; /* temp */
  width: 100%;
  margin-bottom: 24px;
  border-radius: 12px;
}

#sidemain > #whats-new {
  background-color: #eff0f3;
  margin-top: 24px;
  padding-left: 24px;
  height: 400px; /* temp */
  padding: 24px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
}

#sidemain > #recommended-connections {
  background-color: #eff0f3;
  margin-top: 24px;
  padding: 24px;
  width: 100%;
  height: 530px; /* temp */
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
  margin-bottom: 24px;
}

.heading-title {
  padding-top: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 550px) {
  .above {
    margin-left: 0;
  }

  #above-search {
    display: unset;
  }

  #sidemain {
    display: none;
  }

  .flex-main > .column {
    width: 100%;
  }

  .flex-main {
    margin-left: 0;
  }

  #mainmain > #posts {
    margin-bottom: 96px;
  }

  .heading-title {
    padding-top: 12px;
    padding-left: 0px;
  }

  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .menu-and-search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .menu-and-search > .mobile-menu > a {
    width: 20%;
    height: auto;
    margin-right: 24px;
  }

  .menu-and-search > #above-search {
    width: 80%;
    margin-right: 24px;
  }

  .search input[type="text"] {
    font-family: "Montserrat";
    border: 0px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80%;
    height: 100%;
  }

  .search {
    background-color: white;
  }

  .search button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    height: 100%;
  }
}

.profilepic {
  height: 60px;
  width: 60px;
  background-color: #bbb;
  border-radius: 50%;
  background-size: 60px;
}

.userName {
  /* Body text */
  /* width: 59px;
height: 19px; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* identical to box height */

  color: #000000;
}

.stories {
  display: flex;
  overflow: auto;
  height: 130px;
}

.story {
  margin-right: 20px;
  text-align: center;
  width: 80px;
}

#stories::-webkit-scrollbar {
  display: none;
}

#posts::-webkit-scrollbar {
  display: none;
}

.postpicture {
  width: 100%;
  height: 160%;
  border-radius: 10px;
  background-position: center;
  display: flex;
  flex-direction: row;
}

.userNames {
width: 139px;
height: 22px;

/* Heading 3 */

font-family: "Montserrat";
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;
}


.userAt {
width: 64px;
height: 19px;

/* Body Subheading */

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #000000;

}


#whoto {
width: 267px;
height: 29px;

/* Heading 2 */

font-family: "Montserrat";
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #0367A6;
}

.followUser {
width: 102px;
height: 41px;

/* Accent */

border: 1.5px solid #51B09F;
box-sizing: border-box;
border-radius: 40px;

/* Body Title */

font-family: "Open Sans";
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;

color: #51B09F;

text-align: center;

}


.headers {
width: 582px;
height: 0px;

border: 0.5px solid #51B09F;
}

#whats-new-title {
width: 165px;
height: 29px;

/* Heading 2 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #0367A6;
}


#recommended-title {
width: 531px;
height: 22px;

/* Heading 3 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;
}


.divLocation {
width: 129.02px;
height: 48.11px;

/* Heading 3 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;
}

.divPosition {
width: 116.99px;
height: 20.77px;

/* Body text */

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;
}


#view-all {
width: 328px;
height: 22px;

/* Heading 3 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #51B09F;

}