html,
body {
  height: 100%;
  margin: 0;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#flex-nav {
  display: flex;
  flex-direction: row;
}

.nav-column {
  width: 50%;
}

.logo-and-text {
  margin: 20px;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.buttons-column {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#signin-button {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
}

#introduction {
  margin: 40px;
  width: 30%;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#signin-button {
  color: #49a1b9;
  text-decoration: none;
  font-weight: 700;
}

#signup-button {
  color: #eff0f3;
  background-color: #49a1b9;
  border: none;
  outline: none;
  max-width: 110px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Montserrat;
  font-size: 16px;
  cursor: pointer;
}

#sign #introduction > .heading3 {
  font-weight: 500;
}

#flex-about {
  margin: 80px;
}

#flex-about > .heading1,
#flex-features-div > .heading1 {
  margin-bottom: 40px;
}

.featureimg {
  border-radius: 10px;
  margin-right: 20px;
  width: 10%;
  background-color: #214049;
  min-width: 100px;
  height: auto;
  padding: 10px;
}

.flex-features-column > .featureimg {
  margin-bottom: 20px;
}

.flex-column {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.flex-column-information {
  width: 30%;
}

#flex-features-div {
  text-align: center;
  margin: 80px;
  display: flex;
  flex-direction: column;
}

#flex-features {
  display: flex;
  flex-direction: row;
}

.flexfeatureimg {
  border-radius: 10px;
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.flex-features-column {
  width: 33%;
  margin-left: 40px;
  margin-top: 20px;
  margin-right: 40px;
}

.flex-features-column > .heading3 {
  margin-bottom: 10px;
}

#bottom-signup-button {
  width: 40%;
  max-width: 250px;
}

#create-account-button {
  background-image: linear-gradient(
    to right,
    #49a1b9 0%,
    #51b09f 51%,
    #4d95bd 100%
  );
}
#create-account-button {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  outline: none;
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #eff0f3;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  cursor: pointer;
}

#bottom-signup-button {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  outline: none;
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #49a1b9;
  border-radius: 20px;
  cursor: pointer;
}

#blue-blob-div {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#create-account-button {
  background-position: right center; /* change the direction of the change here */
  color: #eff0f3;
  text-decoration: none;
}

#introduction > .title {
  color: #49a1b9;
}

#introduction > .heading3 {
  color: #214049;
}

#introduction > .heading3 > .accent {
  color: #51b09f;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
}
