body {
  font-family: "Open Sans";
}

input,
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #51b09f;
  border-radius: 4px;
  box-sizing: border-box;
}

.subtitle {
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.partner-with-us-form {
  margin-bottom: 24px;
}

.partner-with-us-buttons {
  text-align: center;
}

.partner-with-us-title {
  color: #0367a6;
  text-align: center;
  margin-bottom: 12px;
}

button {
  text-align: center;
  background-color: #0367a6;
  border: 0;
  color: #eff0f3;
  padding: 12px;
  font-size: 14px;
  font-family: Montserrat;
  border-radius: 10px;
  margin-bottom: 12px;
}

#volunteer-partner-btn {
  margin-right: 8px;
}

.partner-with-us-form-form {
  margin-left: 24px;
  margin-right: 24px;
}

.form-div {
  margin-bottom: 8px;
}

#organization-partner-btn:hover,
#volunteer-partner-btn:hover {
  box-shadow: 0 5px 15px rgba(3, 103, 166, 0.4);
}

@media screen and (max-width: 550px) {
  .heading-title {
    padding-left: 0px !important;
  }

  .partner-with-us-form-form {
    margin-bottom: 96px;
  }
}
