#editbtn{
    margin-left: 440px;
    width: 130px;
    height: 30px;
    background-color: #49A1B9;
    color: white;
    border-radius: 8px;

    

}
#msgbtn{
    
    width: 130px;
    height: 30px;
    background-color: #49A1B9;
    color: white;
    border-radius: 8px;
    margin-top: 70px;



}

#following{
    margin-left: 450px;
    text-align:justify;
    margin-top: -50px;
    font-size: 14pt;

}
#posts{
    margin-left: 530px;
    margin-top: -25px;
    font-size: 14pt;
}
#followers{
    margin-left: 645px;
    margin-top: -25px;
    font-size: 14pt;
  

}
p{
    text-align: end;
}

h2{
    margin-left: 30px;
}
h1{
    margin-left: 30px;
}

#profile{
    margin-left: 20px;
}

#move {
    margin-left: 5rem;
}