@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

#above-search {
  display: none;
}

.above {
  margin-left: 5rem;
}

.flex-main {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-main > .column {
  width: 50%;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}

#mainmain > #stories {
  background-color: red; /* temp */
  margin-top: 24px;
  height: 400px; /* temp */
  width: 100%;
}

#mainmain > #posts {
  background-color: purple; /* temp */
  margin-top: 24px;
  height: 400px; /* temp */
  width: 100%;
  margin-bottom: 24px;
}

#sidemain > #whats-new {
  background-color: #eff0f3;
  margin-top: 24px;
  padding-left: 24px;
  height: 400px; /* temp */
  padding: 24px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
}

#sidemain > #recommended-connections {
  background-color: #eff0f3;
  margin-top: 24px;
  padding: 24px;
  width: 100%;
  height: 400px; /* temp */
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
  margin-bottom: 24px;
}

.heading-title {
  padding-top: 24px;
  padding-left: 24px;
}

#editbtn {
  margin-left: 330px;

  background-color: #0367a6;
  padding: 12px 20px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
}
#msgbtn {
  margin-top: 20px;

  background-color: #0367a6;
  padding: 12px 20px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
}
#greyback {
  background-color: #eff0f3;
  width: 700px;
  height: 300px;
  margin-top: -180px;
}

#following {
  margin-left: 280px;
  text-align: justify;
  margin-top: -50px;
  font-size: 14pt;
  font-family: "Open Sans";
}
#posts {
  margin-left: 400px;
  margin-top: -25px;
  font-size: 14pt;
  font-family: "Open Sans";
}
#followers {
  margin-left: 545px;
  margin-top: -25px;
  font-size: 14pt;
  font-family: "Open Sans";
}
p {
  text-align: end;
}

h2 {
  margin-left: 30px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  color: #0367a6;
}
#name {
  margin-top: 100px;
  margin-left: 330px;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* bold */
  width: 302px;
  color: #0367a6;
}

#profile {
  margin-left: 20px;
  margin-top: -150px;
}

#move {
  margin-left: 5rem;
}

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column {
  width: 50%;
}

#sidemain {
  margin-left: 100px;
  margin-right: 20px;
}






/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #eff0f3;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 800px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  color: white;
}
textarea {
  width: 600px;
  height: 100px;
}
h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  color: #0367a6;
}

#save {
  background-color: #0367a6;
  padding: 12px 20px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
  margin-left: 550px;
}

#addskills {
  background-color: #0367a6;
  padding: 12px 20px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
  margin-right: 20px;

 

}
#addedu {
  background-color: #0367a6;
  padding: 12px 20px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
  margin-right: 20px;
}
#addexp {
  background-color: #0367a6;
  padding: 12px 20px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
}

#buttons {
  margin-top: 90px;
  margin-left: 150px;
}

h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  color: #0367a6;
}





@media screen and (max-width: 550px) {
  #move {
    margin-left: 0rem;
    margin-bottom: 100px;
  }
  #editbtn {
    margin-left: 40px;
    width: 130px;
    height: 30px;
    background-color: #49a1b9;
    color: white;
    border-radius: 8px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    align-items: center;

    color: #eff0f3;
  }
  #msgbtn {
    width: 130px;
    height: 30px;
    background-color: #49a1b9;
    color: white;
    border-radius: 8px;
    margin-top: 70px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    align-items: center;

    color: #eff0f3;
  }

  #sidemain {
    display: none;
  }
  #following {
    margin-left: 50px;
    text-align: justify;
    margin-top: 50px;
    font-size: 14pt;
  }
  #posts {
    margin-left: 130px;
    margin-top: -25px;
    font-size: 14pt;
  }
  #followers {
    margin-left: 245px;
    margin-top: -25px;
    font-size: 14pt;
  }
}
