@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;
    /* border radius */
    --radius: 0.2rem;
  }


h1 {
    text-align: center;

}
h3 {
    text-align: center;
}

body {
    font-family: "Open Sans", sans-serif;
    background:#f0f7f8;
  }

  #bodies {
      background: #f0f7f8;
  }
 

  
