.subtitle {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  text-align: justify;
}

.creators {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 90px;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content:center;
}

.creator-name {
  font-family: Montserrat;
  font-size: 1.5em;
  padding: 10px;
  font-weight: bold;
  color: #0367a6;
  text-align: center;
}

.creator-img {
  padding-top: 10px;
  height: 150px;
  width: auto;
  border-radius: 50%;
}

.creator-description {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.creator {
  width: 250px;
  height: 350px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  padding: 8px;
  background: #eff0f3;
  color: #214049;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);

}

#main {
  margin-left: 5rem;
}

.heading1 {
  padding-top: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 550px) {
  .subtitle {
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
  }

  #main {
    margin-left: 0px;
  }

  .creator {
    flex: 1 0 100%; /* The important bit. This percentage decides your columns.
     The percent can be px. It just represents your minimum starting width.
      */
    background: #eff0f3;
    color: #214049;
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
  }

  .creators {
    flex-direction: row;
    width: 250px;
    height: 350px;
    /*height: 350px;*/
    /*width: 90%;*/
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.secondarybutton{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%

}
.heading{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;

}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  border-radius:10px;
  float: left;
  width: 300px;

  margin-bottom: 16px;
  padding: 0 8px;
}
img {
  border-radius: 10px;
}
.card {
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  height: 550px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    /*width: 100%;*/
    display: block;
  }
}
