@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@media screen and (max-width: 550px) {
    


textarea {
    margin-left: 330px;
    width: 600px;
    height: 300px;
}

#save {
    /* 
    width: 130px;
    height: 30px;
    background-color: #49A1B9;
    color: white;
    border-radius: 8px; */

    margin-left: 445px;
    width: 374px;
    height: 50px;

    background: #49A1B9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    
}

.heading-1 {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* bold */
    width: 302px;
    color: #0367A6;
    margin-left: 507px;
}


h3{
    margin-top: 10px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* semibold */
    margin-left: 200px;
}


#container-1 {
    padding-left: 350px;
}


#photo {
    margin-left: 200px;
    
}

#postbutton {
margin-left: 168px;
margin-top: 15px;

width: 218px;
height: 50px;

/* Navbar and Action Color */

background: #49A1B9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;

/* Heading 3 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


/* Offset Background */

color: #EFF0F3;
}
}













textarea {
    margin-left: 330px;
    width: 600px;
    height: 300px;
}
h3{
   
    margin-left: 330px;
}

#save {
    /* 
    width: 130px;
    height: 30px;
    background-color: #49A1B9;
    color: white;
    border-radius: 8px; */

    margin-left: 445px;
    width: 374px;
    height: 50px;

    background: #49A1B9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    
}

.heading-1 {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* bold */
    width: 302px;
    color: #0367A6;
    margin-left: 507px;
}


.heading-3 {
    margin-top: 10px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* semibold */
    margin-left: 30px;
}

#container-1 {
    padding-left: 350px;
}


#photo {
    margin-left: 200px;
    
}

#postbutton {
margin-left: 168px;
margin-top: 15px;

width: 218px;
height: 50px;

/* Navbar and Action Color */

background: #49A1B9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;

/* Heading 3 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


/* Offset Background */

color: #EFF0F3;
}