.content {
  margin-left: 5rem;
  padding-top: 20px;
  padding-left: 20px;
}

.bodytext {
  padding-top: 10px;
  width: 75%;
}

.category {
  display: none;
  margin-top: 20px;
  margin-right: 20px;
  width: 100%;
}

.opportunities {
  display: flex;
  overflow-x: scroll;
  /*overflow-x: hidden;*/
  flex-direction: row;
  margin-right: 20px;
}

.heading3 {
  width: 100%;
}

.opportunity {
  flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
    The percent can be px. It just represents your minimum starting width.
     */
  padding: 20px;
  margin-right: 10px;
  width: 200px;
  background-color: #eff0f3;
  color: #214049;
  border-radius: 12px;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content */
.modal-content {
  position: fixed;
  background-color: #fefefe;
  border-radius: 12px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: none;
  height: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal-column {
  flex: 1 0 50%; /* The important bit. This percentage decides your columns. 
    The percent can be px. It just represents your minimum starting width.
     */
  color: #214049;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.modal-img {
  width: 60%;
  background-position: 50% 50%;
  background-size: auto 100%;
}

.modal-text {
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

/* The Close Button */
.close {
  color: #51b09f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalDescription {
  padding-bottom: 10px;
  padding-top: 0px;
  margin-left: 50px;
}

.primarybutton {
  width: 100%;
  padding: 20px;
}

.heading2 {
  padding-bottom: 10px;
}

@media screen and (max-width: 550px) {
  .content {
    margin-left: 0px;
    margin-bottom: 100px;
  }

  .heading1 {
    width: 75%;
  }

  .bodytext {
    width: 100%;
    padding-right: 10px;
  }

  .modal-column {
    width: 100%;
  }

  .modal-img {
    height: 200px;
    margin-bottom: 10px;
  }

  #modalButton {
    background-color: #0367a6;
    padding: 12px 20px;
    border: none;
    color: #eff0f3;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
  }
}
