@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;
    /* border radius */
    --radius: 0.2rem;
  }
  
/* .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    font-size: 14pt;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    width: 700px;
    
  } */
  h1 {
      margin-left:  100px;
      margin-bottom: 30px;
   
        
        
        /* Title */
        
        font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  color: #0367a6;
        /* identical to box height */
        
        
        /* Heading 1 color */
        
        color: #0367A6;
        }
        
  #para {
    margin-left: px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;

    color: #0367A6;
  }
  #block {
      float: left;
     
  }



  .dropdownn {

    overflow: hidden;
    margin-bottom: 45px;
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    background-color: #cfd8dc;
    width: 900px;
    border-radius: 20px;
    margin-left: 100px;

  
  }
  
  
  .dropdownn .dropbtn {
    cursor: pointer;
    font-size: 18px;  
    border: none;
    outline: none;
    color:black;
    padding: 18px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: block;
    margin-top: 20px;
    margin-left: 20px ;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
   
  }
  
  .dropdown-contentt {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 40px;
    height: 40px;

   
  }
  
  .dropdown-contentt a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

  body {
    font-family: "Open Sans", sans-serif;
    background: var(--clr-gray100);
  }
  /* color variables */



  @media screen and (max-width: 550px) {
   

#move {
  margin-left: -80px;
  margin-bottom: 150px;

}

.dropdownn {

  overflow: hidden;
  margin-bottom: 75px;
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  background-color: #cfd8dc;
  width: 400px;
  border-radius: 20px;
  margin-left: 100px;



}

.dropdown-contentt {
 
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
  height: 60px;

 
}

/* #para {
  margin-left: px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  height: 150px;

  color: #0367A6;
} */











  }
  
