@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.flex-main {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.messages-expanded {
  height: 60%;
  overflow: auto;
}

.heading-title {
  margin-top: 20px;
  margin-left: 20px;
}

#no-messages-inner-div > img {
  max-width: 48%;
  max-height: 400px;
  margin-bottom: 20px;
}

#no-messages-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: none;
}

#no-messages-inner-div {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flex-main > .column {
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

#mainmain > #messages {
  margin-top: 20px;
  height: 400px; /* temp */
  width: 100%;
}

#mainmain {
  width: 100%;
  margin-bottom: 20px;
}

#sidemain {
  margin-top: 20px;
  padding: 20px;
  background-color: #eff0f3;
  width: 50%;
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
  margin-bottom: 24px;
}

.main-messages,
.messages-user-information,
.messagesSentDiv,
.messagesSentByYouDiv {
  display: flex;
  flex-direction: row;
}

.messagesSentByYouDiv {
  justify-content: flex-end;
}

.messagesSentDiv {
  margin-top: 20px;
}

.messagerImgDiv {
  height: 80px;
  width: 80px;
}

.messagerImgDiv > img {
  height: 80px;
  width: 80px !important;
}

.smallMessagerImgDiv,
.smallMessagerImgDiv > img {
  height: 60px;
  width: 60px !important;
}

.messagesSentImgDiv,
.messagesSentImgDiv > img,
.messagesSentByYouImgDiv,
.messagesSentByYouImgDiv > img {
  height: 60px;
  width: 60px !important;
}

.messagesSentText {
  padding: 10px;
  background-color: #51b09f;
  border-radius: 12px;
  margin: 5px;
  margin-left: 0px;
}

.messagesSentByYouText {
  padding: 10px;
  background-color: #49a1b9;
  border-radius: 12px;
  margin: 5px;
  margin-left: 0px;
}

#sidemain {
  display: none;
}

.messagesSentTextDiv {
  padding-left: 20px;
  padding-right: 5rem;
}

.messagesSentByYouTextDiv {
  padding-left: 5rem;
  padding-right: 20px;
}

.messagerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

hr {
  border: 0.5px solid #51b09f;
  background-color: #51b09f;
}

.return-to-messages {
  font-weight: bolder;
  float: right;
  display: none;
  margin-bottom: 10px;
}

.return-to-messages:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .messagesSentTextDiv {
    padding-left: 20px;
    padding-right: 0px;
  }

  .messagesSentByYouTextDiv {
    padding-left: 0px;
    padding-right: 20px;
  }
}

/* I KNOW THE !IMPORTANTS ARE TERRIBLE PRACTICE */
/* SUE ME */
@media screen and (max-width: 600px) {
  .return-to-messages {
    display: unset;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .messagesSentTextDiv {
    padding-left: 20px;
    padding-right: 5rem;
  }

  .messagesSentByYouTextDiv {
    padding-left: 5rem;
    padding-right: 20px;
  }

  #sidemain {
    display: none;
  }

  .flex-main {
    margin-left: 0px;
    margin-bottom: 100px;
  }

  #messages {
    margin-bottom: 100px;
  }

  /* SCROLLBAR */
  /* width */
  ::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey !important;
    border-radius: 10px !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #51b09f !important;
    border-radius: 10px !important;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #51b09f !important;
  }

  .nav__list {
    flex-direction: row !important;
    width: 100vw !important;
    height: 5rem !important;
    bottom: 0 !important;
    justify-content: space-around !important;
    align-items: center !important;
    padding: 0 1rem !important;
  }

  .mobile-menu {
    display: block !important;
    margin-top: 24px !important;
    margin-left: 24px !important;
  }

  .hide-in-mobile {
    display: none !important;
  }

  html {
    overflow: scroll !important;
    overflow-x: hidden !important;
  }

  ::-webkit-scrollbar {
    width: 0px !important;
  }
}
