@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

#above-search {
  display: none;
}

.above {
  margin-left: 5rem;
}

.heading-and-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading-and-edit > p {
  width: 95%;
}

.heading-and-edit > i {
  width: 5%;
  justify-content: flex-end;
  color: #0367a6;
  font-size: 20px;
}

.flex-main {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-main > .column {
  width: 50%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}

.applicationDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.applicationImgDiv {
  width: 20%;
  max-width: 100px;
}

.applicationDivColumn {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.applicationDetailsDiv {
  width: 50%;
}

.applicationStatusDiv {
  width: 30%;
}

.modal::-webkit-scrollbar {
  display: none;
}

.applicationDetailsDiv,
.applicationStatusDiv {
  margin-left: 20px;
  margin-right: 20px;
}

#profile-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 24px;
  margin-bottom: 20px;
}

#posts {
  display: flex;
}

#posts > .postdiv {
  width: 30%;
  margin-right: 20px;
}

.postpic {
  border-radius: 12px;
  width: 100%;
}

#profile-main > .profile-column {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  justify-content: center;
}

#image-column {
  width: 200px;
  height: 200px;
}

#profile-details-column {
  width: 70%;
}

#profile-buttons-div {
  display: flex;
  flex-direction: column;
}

#numbersDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.numbers-column {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.heading-title {
  padding-top: 24px;
  padding-left: 24px;
}

#sidemain > #whats-new {
  background-color: #eff0f3;
  margin-top: 24px;
  padding-left: 24px;
  padding: 24px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
}

#sidemain > #recommended-connections {
  background-color: #eff0f3;
  margin-top: 24px;
  padding: 24px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 18px -8px rgba(33, 64, 73, 0.65);
  margin-bottom: 24px;
}

#editbtn {
  background-color: #0367a6;
  padding: 12px 20px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  width: 49%;
  border-radius: 10px;
  outline: none;
}

#followbtn {
  background-color: #0367a6;
  padding: 12px 20px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  width: 49%;
  border-radius: 10px;
  outline: none;
}
.skillsinput {
  background-color: #eff0f3;
  text-decoration: underline;
  padding: 12px 24px;
  border: 1px solid #51b09f;
  color: #51b09f;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  border-radius: 40px;
  outline: none;
  margin-right: 10px;
  margin-top: 5px;
  width: auto !important;
}

input:focus {
  outline: none;
}

#msgbtn {
  background-color: #0367a6;
  padding: 12px 20px;
  border: none;
  color: #eff0f3;
  width: 49%;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
}
/* 
.profilepicture {
  position: relative;
  width: 20%;
  margin: 5px;
}

.profilepicture:before {
  content: "";
  display: block;
  padding-top: 100%;
}

img {
  min-width: 100%;
  height: auto;
  object-fit: cover;
}

.profilepicture > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #333;
  color: #fff;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.skillsbtn {
  background-color: #0367a6;
  padding: 12px 20px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  border-radius: 40px;
  outline: none;
  margin-right: 10px;
  cursor: none;
  margin-top: 5px;
}

.education-post-div > div,
.experience-post-div > div,
.awards-post-div > div {
  width: 50%;
}

.education-post-div,
.experience-post-div,
.awards-post-div {
  display: flex;
  flex-direction: row;
}

/* FOLLOWERS MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #214049;
  float: right;
  font-size: 28px;
  padding-bottom: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* EDIT PROFILE MODAL */
#addskills {
  background-color: #0367a6;
  padding: 6px 14px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  border-radius: 10px;
  outline: none;
  margin-right: 5px;

  cursor: pointer;
}
#addedu {
  background-color: #0367a6;
  padding: 6px 14px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  border-radius: 10px;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
#postBtn {
  background-color: #0367a6;
  padding: 6px 14px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  border-radius: 10px;
  outline: none;
  margin-top: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.icons {
  display: flex;
  color: #49a1b9;
}

#addexp {
  background-color: #0367a6;
  padding: 6px 14px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  border-radius: 10px;
  outline: none;
  margin-top: 5px;
  cursor: pointer;
}

h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  color: #0367a6;
}

textarea {
  width: 350px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

#save {
  background-color: #0367a6;
  padding: 6px 14px;
  border: none;
  color: #eff0f3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  border-radius: 10px;
  outline: none;
  margin-left: 250px;
}

@media screen and (max-width: 550px) {
  #image-column {
    width: 100px;
    height: 100px;
  }

  .heading-and-edit > p {
    width: 86%;
  }

  .heading-and-edit > i {
    width: 18%;
    justify-content: flex-end;
    color: #0367a6;
    font-size: 20px;
  }

  .above {
    margin-left: 0;
  }

  #above-search {
    display: unset;
  }

  #sidemain {
    display: none;
  }

  .flex-main > .column {
    width: 100%;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .flex-main {
    margin-left: 0;
  }

  #mainmain {
    margin-top: 60px;
    margin-bottom: 96px;
  }

  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .menu-and-search {
    position: fixed;
    background-color: white;
    padding-bottom: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .menu-and-search > .mobile-menu > a {
    width: 20%;
    height: auto;
    margin-right: 24px;
  }

  .menu-and-search > #above-search {
    width: 80%;
    margin-right: 24px;
  }

  .search input[type="text"] {
    font-family: "Montserrat";
    border: 0px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80%;
    height: 100%;
  }

  .educationPostImgDiv,
  .educationPostInputDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .educationPostInputDiv > input {
    display: flex;
    width: auto;
  }

  .search input[type="search"] {
    font-family: "Montserrat";
    border: 0px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80%;
    height: 100%;
  }

  .search {
    background-color: white;
  }

  .search button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    height: 100%;
  }

  #profile-main {
    margin-right: 20px;
  }
}
